[2015-12-14 17:40] CrowdHailer opened #3 "Karma not watching preprocessed files?"
When using this plugin and trying to watch my test files with karma, only changing the entry file causes the test files to be recompiled.

I have tried explicitly watching the rest of the test files but even though doing this causes the tests to run again, the test file is not recompiled! 😅

<details>
<summary>My Karma Config</summary>

[code]
</details>

[2015-12-16 08:19] klaascuvelier commented on #3
I have the feeling this is more of a configuration issue rather than an issue with the pre-processor. But I'll look into it asap.

[2016-01-06 16:25] brianmhunt opened #4 "Better logging of bundling errors"
I noticed that bundling errors seem to fall silent.

The simplest workaround is to add e.g.

[code]

at https://github.com/showpad/karma-rollup-preprocessor/blob/master/lib/index.js#L44

I don't know Karma's internal workings well enough to speculate why `done(error, null)` does not report the error, but I noted the coffee plugin [similarly logs a message](https://github.com/karma-runner/karma-cof

[2016-01-11 08:09] klaascuvelier commented on #4
Implemented by #5

[2016-01-11 08:09] #4 closed

[2016-02-14 00:09] thepian opened #6 "Sorry in advance"
Sorry in advance for a poor bug report.

I'm trying out the preprocessor and have it working without plugins, however it seems the rollup doesn't include the imports. I assume the Babel plugin is needed for things to work properly.

So I tried your example of adding 'rollup-plugin-babel', but when I do that the Karma server never takes off. There is no debug output, Karma just finishes.

Do you ha

[2016-02-15 20:09] thepian commented on #6
Actually I missed a cool part of rollup. Since I didn't refer to the imported source code it was removed ending up in a test without implementation. Once I referenced the source in a test it gets pulled in.

[2016-02-15 20:09] #6 closed

[2016-02-18 13:29] klaascuvelier commented on #6
Glad you were able to resolve your own issue :) :+1:

[2016-04-02 17:02] ccampbell commented on #3
I am running into this same issue. When I have karma set to watch my test directory then any change to a test file cause it to be rebuilt with the rollup preprocessor, but changes to the src files imported by the test files are never recompiled. I have to manually kill and restart karma each time I change a src file which is very frustrating.

Any ideas on how to fix this?

[2016-04-11 18:24] Kflash opened #8 "Hang with travis"
Karma launches perfectly fine locale and all tests are executed. Soon as I try this with travis it hang.

No browser starts. Karma didn't launch.

If I swap to another preprocessor everything works.

[2016-05-06 15:02] jellymann commented on #6
@thepian Hi, I seem to be getting the same issue as you. Karma is finishing with no output, however even if I reference the imported code it still does not work. I suspect it has something to do with the es2015 class syntax, as removing classes allows karma to run.

Here is a small example that reproduces my issue.

[code]

[code]

[code]

[2016-06-09 10:33] TrySound opened #10 "Incremental build"
The last version of rollup introduced incremental build. You can pass previous `bundle` as `cache` option. This will let to improve performance of testing a lot. Also you can track imported files via watcher which could simplify test driven development.
Here's an example https://github.com/rollup/rollup-watch/blob/master/src/index.js

[2016-06-09 11:04] mjeanroy commented on #3
Same behavior here. When test file is updated, rollup preprocessor does its job perfectly, otherwise when an src file is updated, rollup preprocessor does not run at all (it seems to not be executed by karma).

@ccampbell A quick workaround, instead of restarting karma, is to save your test file again to force rollup preprocessor to do its magic again.

[2016-06-09 14:35] ccampbell commented on #3
@mjeanroy in my experience, that only works to recompile the test code and not the src code.

What I have found is that if my karma config is referencing `{pattern: 'test/*-test.js'}` in the `files` section then saving a src file does nothing, but a test file will rebuild the files in the test directory.

If my karma config is referencing `{patten: 'test/specificfile-test.js'}` in the `files` sect

[2016-06-12 18:44] TrySound commented on #10
/cc @klaascuvelier
Also would be great if you will write some tests for this project. Because
[code]
doesn't seem trusty.

[2016-07-05 15:32] brianmhunt commented on #3
This problem is picky.  Here's [a SO post I made on it](http://stackoverflow.com/q/37795680/19212) as I've tried several workarounds.

[2016-07-06 12:30] brianmhunt commented on #3
I have created [a repository for demonstrating](https://github.com/brianmhunt/karma-rollup-preprocessor-issue-3) the issue.

[2016-07-09 01:34] #8 closed

[2016-07-09 08:45] jonnyOwnTheWorld commented on #10
Seems like a better plugin is located here: https://www.npmjs.com/package/rollup-plugin-karma

[2016-07-09 08:55] #10 closed

[2016-08-14 01:58] derduher opened #13 "Typeof transform"
The version of rollup this package is locked to appears to be causing a type of error seen here https://github.com/rollup/rollup-plugin-babel/issues/69

Please update to the latest or merge #12

[2016-08-14 02:22] Kflash commented on #13
@derduher use this repo instead https://github.com/Kflash/karma-rollup-plugin

[2016-08-14 02:41] derduher commented on #13
@Kflash Worked perfectly thanks!

[2016-08-14 02:41] #13 closed

[2016-09-07 16:29] klaascuvelier opened #14 "Maintainers wanted"
We're not actively using this plugin anymore (as you might be able to see from the pulse), so we're looking for some new maintainers who could give this project the love it needs.

[![Maintainers Wanted](https://img.shields.io/badge/maintainers-wanted-red.svg)](https://github.com/pickhardt/maintainers-wanted)

[2016-11-25 17:16] jlmakes commented on #14
I just spent 3 days struggling to integrate Rollup into Karma @klaascuvelier, and @brianmhunt's PR fixed my issues.

I would be willing to take over to fix things up so no one else has to suffer the same frustration.

[2016-11-25 17:41] jlmakes commented on #14
Any updates on this @klaascuvelier?

I just spent 3 frustrating days integrating Rollup into Karma, and I'd be willing to carry the torch for a while to prevent similar frustration for others.

[2016-11-25 17:52] klaascuvelier commented on #14
No updates, nobody volunteered until you just did.
I can transfer you the ownership right away if you want.

[2016-11-25 18:00] jlmakes commented on #14
Let's do it, I'll do what I can!

[2016-11-25 18:34] jlmakes commented on #14
Let's do it @klaascuvelier!

My handle is **jlmakes** on both NPM and GitHub.

[2016-11-25 18:51] klaascuvelier commented on #14
I'm afk right now, will follow up asap

[2016-11-28 16:28] klaascuvelier commented on #14
I sent you a request for the ownership on Github and added you as owner on npm.
Thanks for taking this up @jlmakes, as we didn't use the library ourselves anymore, we could not invest time in the maintenance and development

[2016-11-28 16:50] jlmakes commented on #14
I think the Rollup bundler is the best solution for browser libraries until ES6 imports are natively supported across devices/browsers... and being able to test the same bundles you're distributing is essential.

I use both Rollup and Karma on an important personal/open source project, so I will do my best. Thanks for passing the torch @klaascuvelier!

[2016-11-28 16:50] #14 closed

[2016-11-30 14:22] jlmakes commented on #6
I think this is related to #4. I noticed an invalid configuration was causing the bundle (and Karma) to fail silently. I'm working on better error handling, to fix these silent failures.

[2016-12-01 01:52] jlmakes commented on #3
I believe I've wrapped my head around the problem, thanks to @brianmhunt and [his work](https://github.com/jlmakes/karma-rollup-preprocessor/pull/11).

If we were to assume we had 2 files:
[code]

[code]

We would end up with a new temporary file served to the Karma browser, something like this:

[code]

Rollup simply imports the contents of the files it finds in the `import` statement at the time

[2016-12-02 23:06] #3 closed

[2017-01-01 19:21] FezVrasta opened #17 "Watch doesn't work reliably"
Hi, first, thanks for maintaining this plugin!

I'm on `3.0.2` and Node 7, and I have a problem with the watch feature.
This is my karma configuration:

[code]

Describing how my tests work, the test files `import` the source files of my library and rollup takes care to compile everything.

The problem is that if I change a file in my tests, the watch task works, if instead I change a file of the

[2017-01-01 20:11] FezVrasta commented on #17
Or better, sometimes it works, sometimes not.. Randomly.

[2017-01-03 17:08] jlmakes commented on #17
What version of the library are you using?

[2017-01-03 17:16] jlmakes commented on #17
What version of the library are you using?
Sounds very similar to #3, which was solved in `v3.0.0`.

I'm actually working on a better solution, since relying on Karma's watch seems to be a limitation; it seems `karma-webpack` uses its own watch for similar reasons.

[2017-01-03 17:18] FezVrasta commented on #17
I'm on 3.0.2 and Node 7

[2017-01-03 17:21] jlmakes commented on #17
Issue #3 dealt with a very similar problem, and had a decent solution for `v3.0.0`...

Which files are not triggering a new bundle?
If you can put together a simple repository demonstrating the problem, I will be able much better equipped to release a fix.

[2017-01-03 17:22] FezVrasta commented on #17
Seems to happen randomly on the same exact files. I'm experiencing it in https://github.com/FezVrasta/popper.js/tree/v1-dev

This is the config:
https://github.com/FezVrasta/popper.js/blob/v1-dev/scripts/karma.conf.js#L52-L73

[2017-01-03 17:30] jlmakes commented on #17
Your popper package is not really a simple/isolated example of the problem.

Does the problem occur with any of the files in your `files` array, or with specific ones?
Have you looked at the `DEBUG_INFO` output?

[2017-01-03 17:32] FezVrasta commented on #17
It occur with one of the files in the files array (actually, lot of them, all?).

I have not looked at the debug info, I'll take a look when I have a minute.

[2017-01-04 02:12] jlmakes commented on #17
I'm dropping support for Node `0.12` and releasing `karma-rollup-proprocessor@4.0.0` soon. Since relying on Karma's watcher seems limiting, I'm also working on handling watch internally (and simply notifying karma when files have changed).

If you have in fact uncovered a bug here, I want to make sure that the new solution solves it. Would you be willing to help me test the new release @FezVrasta?

[2017-01-04 06:28] FezVrasta commented on #17
sure

[2017-01-04 13:55] jlmakes commented on #17
Alright well it'll take a bit though, I'm working on a few open source projects. I think we should still see what we can figure out using `3.0.2`, and when `4.0.0` is ready you can drop that into your project to help test.

[2017-01-04 14:03] FezVrasta commented on #17
no problem, it's just a bit annoying, nothing critical

[2017-01-10 16:41] menangen commented on #17
I too have troubles with Karma and rollup + Vue.js components, Karma config has
[code]
In _global.spec.js_ I have:
[code]
So, in compiled _global.spec.js_ I have all bundled Vue.js library + vue components and tests specs, but when I change one of vue component - rollup does not recompile all dependencies such as .vue single file components imported in _global.spec.js_. Tests can failed or success

[2017-01-10 20:53] jlmakes commented on #17
Hey @menangen, this is the same issue described in detail [here](https://github.com/jlmakes/karma-rollup-preprocessor/issues/3#issuecomment-264055216).

The problem is that you are only passing `global.spec.js` to the rollup preprocessor, which means your other files (that you want to trigger a rebuild) aren't going through the preprocessor... and thus don't trigger anything.

I assume you'll need

[2017-01-10 21:34] menangen commented on #17
@jlmakes yes, it work but karma runs tests twice. First for changed .vue component and second for .spec.js main test file. If I change test file - it recompile .spec.js fast and once, if change only .vue component to broken code - karma runs 1st iteration with log about changes in .vue file and test show succes(!) pass, and on second iteration log write about changes in main .spec.js file - and no

[2017-01-10 22:34] jlmakes commented on #17
This is the exact problem I'm looking to solve with version 4. There's no way to programmatically add files to the preprocessor, so instead it has to trick Karma into rebundling them by changing their time modified.

As you've pointed out @menangen, this means the tests re-run for each file that depends on the changed file. There also seems to be some issues where tests can fail because files were

[2017-01-10 22:56] menangen commented on #17
@jlmakes ok, I dislike Webpack and will be better use browserify like rebuild as you can test  from https://github.com/vuejs-templates/browserify

Also if you on Mac, you can use my testing repo with karma-rollup-preprocessor and Vue building:

[code]
This shell command create RAM disk and clones my repo for playing with rollup + Karma. Also in _karma.conf.js_ need change ```autoWatch: false``` to

[2017-03-27 19:56] mjeanroy opened #19 "Add possibility to define configuration with `customPreprocessors`"
Hi @jlmakes ,

Currently, the only way to specify rollup configuration is with the `rollupPreprocessor`: easy, and enough for 99% use case.

But, it could be great to support configuration using `customPreprocessors` (documented [here](http://karma-runner.github.io/1.0/config/preprocessors.html), or you can see it implemented by `karma-babel-preprocessor`).

It could be a simple solution to provid

[2017-03-28 14:39] jlmakes commented on #19
Thanks @mjeanroy I appreciate the contribution!

Next change I get, I’ll merge and prepare a `3.1.0` release.

[2017-03-29 09:58] mjeanroy commented on #19
@jlmakes Ok, thank you! Let me know when `3.1.0` is available, this feature will make my life easier 😉

[2017-04-04 13:54] #19 closed

[2017-04-04 13:57] jlmakes commented on #19
This is now in version `4.0.0` @mjeanroy.

[2017-04-20 08:27] FezVrasta commented on #17
Are there any progress on this issue? Thank you!

[2017-04-20 14:39] jlmakes commented on #17
Hey @FezVrasta, thanks for the reminder there’s still work to be done here!

The documentation is all about how to use Karma, but developing plugins requires reverse engineering existing plugins. So, I’ve been looking deeper into the Node API and wrapping my head around how the Webpack plugin handles their custom file watcher...

This will be addressed, just bear with me a bit longer.

[2017-07-06 08:37] elasim commented on #17
Sorry again, Any progress on this issue?

[2017-07-07 02:18] jlmakes commented on #17
Not yet @elasim—I have not forgotten about this project—I use it every day and intend on improving it, I’ve just been busy the past 8 months working on another project.

What `karma-rollup-preprocessor` needs is a re-write using it’s own file watcher, so we can more closely control when files are re-processed (similar to how `karma-webpack` works).

[2017-07-12 09:16] jacmendt opened #22 "bundle.generate returns a Promise"
In my development environment `bundle.generate` returns a Promise. Because of this my karma preprocessing fails.

A short fix this can be seen here:

https://github.com/pikobytes/karma-rollup-preprocessor/blob/master/lib/index.js

If you want a i could provide a pull request.

I am using `rollup@^0.45.1`.

[2017-07-12 12:24] mjeanroy commented on #22
@jacmendt See #21

[2017-07-14 18:43] #22 closed

[2017-08-21 12:26] robhicks opened #23 "bundle.generate(...) now returns a Promise instead of a { code, map } object"
The buble example doesn't work for me.

Here's part of my **karma.conf.js**:

[code]

[2017-08-21 16:41] guilhermehn opened #24 "Still using deprecated rollup option key"
The `entry`key should be changed to `input` since rollup@0.48. Setting the rollup dependency version to `>=0.45.x` making new installations to get the 0.48.x versions, thus causing breaking changes.
https://github.com/jlmakes/karma-rollup-preprocessor/blob/56f48f7500acd147d88108166481de61d7c36308/lib/index.js#L37

[2017-08-21 19:05] sciborrudnicki opened #26 "options.entry is deprecated, use options.input, Unexpected key 'sourceMap'"
New rollup needs to have input instead of entry, and sourcemap instead of sourceMap.

[2017-08-21 20:01] jlmakes commented on #26
Re: #24

[2017-08-21 20:01] #26 closed

[2017-08-21 20:19] jlmakes commented on #23
What version of rollup and preprocessor are you using?

[2017-08-21 20:31] robhicks commented on #23
Thanks. I'll look at the PR you referenced.

i'm using:
- rollup 0.48.2
- karma-rolup-preprocessor 4.0.3

[2017-08-21 20:33] jlmakes commented on #23
Hmm, those seem up to date. Can you share more about the problem?

[2017-08-21 20:41] robhicks commented on #23
Sure, I removed and rebuilt node_modules. Now I'm seeing something different. Here's an example:
[code]
process is not referenced in any of my tests.

[2017-08-22 00:35] jlmakes commented on #24
Still running into issues unfortunately.

[2017-08-22 00:36] jlmakes commented on #24
Still running into some issues…

[2017-08-22 07:20] mjeanroy commented on #24
@jlmakes What kind of issues? I just checked the `master` branch on one of my project and it seems good.

[2017-08-22 11:20] jlmakes commented on #24
- ❌ Rollup 0.48.2 / Legacy Config / Preprocessor `4.0.3`

- ❌ Rollup 0.48.2 / Legacy Config / Preprocessor `master`

- ❌ Rollup 0.48.2 / New Config / Preprocessor `4.0.3`

- ✅ Rollup 0.48.2 / New Config / preprocessor `master`

Contrary to Rich Harris’ tweet suggesting there shouldn’t be much breakage—this doesn’t look very backwards compatible.

I’m wondering if preprocessor 4.x should be legacy

[2017-08-22 11:26] jlmakes commented on #23
There are some recent changes made to Rollup in 0.45 and now 0.48 that have caused a bit of turbulence for tools like this preprocessor—but none of that seems related to those error messages (which appeared recently after reinstalling node modules).

Is there a way to show this is related to karma-rollup-preprocessor?

[2017-08-22 12:41] mjeanroy commented on #24
Your errors seems related to the configuration in your project since the preprocessor does not set/get any `moduleName` option.

I don't think this is the responsibility of the `karma-rollup-preprocessor` to patch the configuration to the new (or old format) for keys that are not read or set by the preprocessor. Instead each project should use a rollup configuration which is compatible with the ve

[2017-08-22 12:49] jlmakes commented on #24
So, if developers run into errors or warnings because the preprocessor installed a different version of Rollup—it’s up to the developer to update their configuration… not the preprocessor to continue to work with their existing configuration?

[2017-08-22 12:54] mjeanroy commented on #24
@jlmakes Maybe, rollup should be a peer dependencies, not a direct dependencies?

Doing this will force developers to choose what version of rollup to install, and so use a configuration compatible with the version that is installed (for example, karma-webpack define webpack as a [peer dependency](https://github.com/webpack-contrib/karma-webpack/blob/v2.0.4/package.json#L34) too). That said, doing

[2017-08-22 13:04] jlmakes commented on #24
I’m not sure I see a path that doesn’t involve a breaking change in the preprocessor... and that sounds better than managing what version of Rollup is installed.

So what about preprocessor 4.0.4 with `0.45 <= rollup < 0.48` to damage control broken legacy configuration objects (since v4 does manage rollup dep version)...

And a preprocessor 5.0.0 that doesn’t manage dep version with with peer `ro

[2017-08-22 13:25] mjeanroy commented on #24
That seems good 👌

[2017-08-22 14:08] robhicks commented on #23
I found the issue. I was pre-building my distribution files with rollup and buble using nodeResolve. When nodeResolve is used, it injects process.env checks into the code. When running the tests, a type error was being thrown for process.

[2017-08-22 14:08] #23 closed

[2017-08-24 18:23] #17 closed

[2017-08-24 18:28] #24 closed

[2017-08-24 18:42] FezVrasta opened #27 "Unexpected key 'input' found"
[code]

I get this after I updated to 5.x.x

[2017-08-24 19:31] jlmakes commented on #27
Do you have Rollup 0.48 or higher installed?

[2017-08-24 19:41] jlmakes commented on #27
Do you have Rollup 0.48 or higher installed?

[2017-08-24 19:57] jlmakes commented on #17
Re: @FezVrasta @menangen @elasim

I have greatly improved the file watcher in the latest major release (v5)!

Please take a careful look at:
- The [changes made in `karma-rollup-preprocessor@5.0.0`](https://github.com/jlmakes/karma-rollup-preprocessor/blob/master/CHANGELOG.md)
- The [changes made in `rollup@0.48`](https://gist.github.com/Rich-Harris/d472c50732dab03efeb37472b08a3f32)

The short ver

[2017-08-24 21:51] #27 closed

[2017-08-28 11:59] mjeanroy commented on #17
@jlmakes Thanks for your awesome work!

[2017-08-28 12:04] FezVrasta commented on #27
thanks it works!

[2017-08-30 12:26] Paulskit opened #28 "Watcher should only recompile changed files, and its dependents."
Default behavior for karma is to trigger processing only on changed file. This is very fast and convenient if you debug tests in watch mode.
Current implementation forces all files to be processed on any file change. Consequently, it takes a lot of time on large tests amount just to check 1 file change.

Just an example:
1) Default karma file watch + rollup
30 08 2017 15:18:36.617:INFO [watcher]:

[2017-08-30 16:56] jlmakes commented on #28
_Figure 1:_

**Submodules:** A, B
**Modules:** 1, 2, 3, 4
**Tests:** T1, T2
![Example Dependency Tree](https://user-images.githubusercontent.com/2044842/29876061-0858d44e-8d9c-11e7-9cfa-1d65f742c7fd.jpg)
Karma’s default behavior ignores dependent modules… so if **B** changes, _only_ B will be reprocessed… and everything downstream that depends on B will now be stale. This is what #3 is about, and

[2017-08-30 18:46] Paulskit commented on #28
While I completely agree with your info graphics, I'm not sure what I see locally corresponds to what you're saying. Saving a single .spec.js file with no external dependencies (no imports, requires, etc) now triggers full rebuild of all files with rollup.
Running all tests is not an issue, you can always limit only desired set of tests using something like 'fdescribe'.
Let me see if I could creat

[2017-08-30 19:42] Paulskit commented on #28
Ok, here we go: https://github.com/Paulskit/rollup-karma-performance-bug
Steps to reproduce:
1) npm i
2) npm test
3) Save translate.js or translate.spec.js

As you can see, on every translate file change (which has no external dependencies) you see warnings in console about not used dependencies. Those are coming from mock1 file specifically for this reason. It proofs that despite the file doesn't

[2017-08-30 20:54] jlmakes commented on #28
I appreciate the reproduction; I don’t think I was clear before, so allow me be blunt…

**The current behavior is by design.**

I will say again: you’re not wrong, and I agree it has room for improvement—but the simple fact is that there are constraints when integrating with Karma, and the current file watcher is the first one that:

- Correctly recompiles dependencies
- Does not excessively re-ru

[2017-08-30 20:56] Paulskit commented on #28
Clear enough. Thank you.

[2017-10-12 01:24] zzzgit opened #29 "why do I need to explicitly config the plugins?"
![image](https://user-images.githubusercontent.com/1060733/31474564-32e76744-af2e-11e7-8730-30ff458c01c4.png)

![image](https://user-images.githubusercontent.com/1060733/31474601-6011a036-af2e-11e7-8401-7be063c209a7.png)

why do I need to explicitly config the plugins?

[2017-10-13 07:34] mjeanroy commented on #29
Rollup is a peer-dependencies since version 5.0.0 (see #24), you now have to choose which version of rollup you want to use.

[2017-10-16 22:17] #29 closed

[2017-12-21 21:48] brianmhunt opened #30 "Ignore files that have a `null` byte"
Cross-linking rollup/rollup-plugin-commonjs#268

rollup-plugin-commonjs generates a file with a null byte called `\u0000commonjsHelpers`.  This causes `fs.stat` to fail via the path here (with long paths shortened to `...`):

[code]

There is probably a better way, but the best I can figure is karma-rollup-preprocessor is the easiest place to fix this, by simply checking for the presence of a null

[2017-12-29 00:46] jlmakes commented on #30
Interesting, thanks @brianmhunt

So let's see if I understand—null bytes are a security concern for `karma-rollup-preprocessor`, but the patch would also serve as a downstream fix for an emergent bug in `rollup-plugin-commonjs`?

[2017-12-29 13:10] brianmhunt commented on #30
Yes, that is my understanding.

[2018-01-08 17:10] OverZealous commented on #30
To add to this issue, I'm also getting it with `babelHelpers` now, which is being injected as `'\u0000babelHelpers'`. I'm assuming that the trend is to use null bytes to identify dynamically generated files so watchers can know to exclude them.

@jlmakes Would you be interested in a PR as @brianmhunt suggested above, to simply ignore any file names with a null byte in them?

This happens to be hol

[2018-01-08 17:11] jlmakes commented on #30
If it's just the one-liner he suggested I don't mind implementing it and bumping to `5.1`

[2018-01-08 17:12] OverZealous commented on #30
That would be awesome! It fixed my issue when I added it manually. I just did this:

[code]
But it could just as easily be merged with existing `if`.

[2018-01-08 17:31] #30 closed

[2018-01-08 17:54] OverZealous opened #31 "Rollup has moved output options within the config"
Rollup has moved output options from being in the root to separate `output` groupings. Using a newer Rollup with karma-rollup-preprocessor prints the following for every file:

[code]

The end user can easily move all the options except `sourcemap`, which is checked internally by `karma-rollup-preprocessor`. And it looks like Rollup is stripping the option from the root, so even if we include it i

[2018-01-08 18:13] OverZealous commented on #30
Worked great for me! Thanks a ton!

[2018-01-08 21:13] #31 closed

[2018-01-12 14:07] AlbertoElias opened #33 "sourcemaps not working"
Using the latest versions, sourcemaps have stopped working. I updated my karma config with no success.

I'm using these versions:

[code]

And this config:

[code]

Any suggestions?

[2018-01-16 00:05] jlmakes commented on #33
Well, Rollup moved `opts.sourcemap` to `opts.output.sourcemap` in a recent release, but that was gently [patched](https://github.com/jlmakes/karma-rollup-preprocessor/commit/5cfd7e9e66afbfe67b37c9da8a8fc681d2409b64) in `5.1.1`. Still, it should work without the patch, you'll just get deprecation warnings.

I'm not sure what would cause source maps to stop being generated. I'm doing some poking aro

[2018-01-17 15:30] AlbertoElias commented on #33
Ok, I don't have the code up just yet, but will do in 1-2 weeks. Do you mind if we leave this issue open until then?

[2018-01-17 16:28] jlmakes commented on #33
That is fine, but please make sure the reproduction is a new repo, with only the code necessary to clearly reproduce the issue.

[2018-01-30 18:36] #33 closed

[2018-02-28 07:02] kirill-konshin opened #34 "Add support of array configs"
Currently if `rollup.config.js` will export an array of configs the preprocessor will fail with an error:

[code]

I suspect it's because preprocessor is using older version of Rollup.

[2018-03-05 03:21] jlmakes commented on #34
Apparently array config was added in `rollup@0.42` (June 2017) allowing Rollup to create builds in parallel. Personally, I've used this feature to output both ES and CommonJS modules from one config file.

Do you mind explaining why you need the preprocessor to bundle your files more than once?

[2018-03-05 19:17] kirill-konshin commented on #34
Same reason, to build ES and non-ES versions.

[2018-03-06 14:57] jlmakes commented on #34
But what is the purpose of passing multiple module formats to the Karma's test runner?

[2018-03-06 14:58] jlmakes commented on #34
But what is the purpose of passing multiple module formats to the Karma test runner?

[2018-03-06 19:03] kirill-konshin commented on #34
Honestly, this question never raised in my head :) I simply used the same config for build and tests. But it does make sense to reduce the number of things to be built for tests. I think a meaningful message should appear in this case, current error is a bit misleading.

[2018-05-31 16:52] danielnaab commented on #28
For anyone encountering this, here's my solution: create a test manifest that explicitly imports every spec in your test suite, and put only that single entry-point in the Karma config.

Watch tasks are much faster, due to the single compilation.

Presumably this is something that could be automated as part of the preprocessor, but is easy enough to maintain as an additional module in the test sui

[2018-05-31 18:44] jlmakes commented on #28
Cool workaround Daniel!

[2018-07-27 08:49] limerickgds opened #35 "not support lastest rollup"
rollup javascript api has changed,so need fixed this problem.
https://rollupjs.org/guide/en#rollup-rollup

[2018-07-27 19:06] jlmakes commented on #35
`karma-rollup-preprocessor` tests passed using `rollup@0.63.4`

Are you getting an error message?

[2018-07-28 05:07] #35 closed

[2018-09-21 20:04] Lalem001 commented on #33
I have encountered this issue as well. So here is a repo that reproduces the issue:

https://github.com/Lalem001/karma-rollup-preprocessor-issue

[2018-09-26 14:33] Lalem001 opened #36 "Source Maps not Working"
Picking up after #33, which was awaiting reproduction, I have created a repo that reproduces the issue. Been 5 days since I posted in that issue with no apparent attention. So starting a new issue.

Basically when a test error occurs, the reported error line is incorrect.

https://github.com/Lalem001/karma-rollup-preprocessor-issue

[2018-09-29 00:48] jlmakes commented on #36
I wouldn't suspect the `chokidar` file watcher, which means there's only about [40 lines of code](https://github.com/jlmakes/karma-rollup-preprocessor/blob/master/lib/index.js#L7-L46) that would contain the bug. Maybe something with the `cache`?

I’ll take a closer look soon, thanks @Lalem001

[2018-10-17 07:33] #36 closed

[2018-12-06 12:49] abaksha-sc opened #41 "Watching doesn't start when debugging"
I use the following config to run karma (to debug unit tests):
`karma start tests/config.js --auto-watch --no-single-run  --no-coverage --no-browsers`
And then I open `http://localhost:9876/debug.html` directly in browser to run tests.
In this case watching doesn't start, because event `run_start` does not dispatch.
It works when open `http://localhost:9876/` at first, but I would like to have a p

[2018-12-06 19:19] jlmakes commented on #41
Do you know which flag prevents the `run_start` event?

***

_Related:_

https://glebbahmutov.com/blog/debugging-karma-unit-tests/
http://karma-runner.github.io/3.0/dev/public-api.html

[2018-12-07 05:52] abaksha-sc commented on #41
There are two flags in coupe prevent `run_start`: `--no-single-run --no-browsers`

1. Here is event fires when `config.noSingleRun`:
https://github.com/karma-runner/karma/blob/bb022a7fa06042eb0d98ed72c75b74038128d9c0/lib/server.js#L311
But I use flag `--no-single-run`

2. And here are event fired when `capturedBrowsers` is not empty:
https://github.com/karma-runner/karma/blob/bb022a7fa06042eb0d98e

[2018-12-07 12:37] abaksha-sc commented on #41
May be just change event `run_start` to `listening` ?
https://github.com/karma-runner/karma/blob/bb022a7fa06042eb0d98ed72c75b74038128d9c0/lib/server.js#L175

It dispatches when karma server is ready. I think it is a good point to start watching.

[2018-12-07 22:20] jlmakes commented on #41
That seems like a reasonable solution. It would easy enough to swap in `listening` for `run_start`, but in your estimation, would this constitute a breaking change?

[2018-12-29 07:29] fengyuanchen opened #42 "Not compatible with the latest version of Rollup (v1.0.0)"
The Rollup@1.0.0 had been released yesterday, when I upgrade to the latest version, I got the following error:

[code]

[2018-12-29 19:15] jlmakes commented on #42
Thanks @fengyuanchen, I'm on it.

[2019-01-12 01:58] jlmakes commented on #42
📣 **Status Update**: The next release is right around the corner (on or before Monday, 1/14).

Since this is a major release (dropping support for Rollup < 1 and Node < 8), I'm also doing what I can to improve the file watcher (re: #28) — I've been getting _very_ friendly with the Karma source, and I've got a strong lead on a solution.

@isidrok @tatey @niksy @thisconnect @givanse
@calebdwilliams

[2019-01-12 20:16] #34 closed

[2019-01-14 02:06] LvChengbin opened #44 "TypeError: Cannot read property 'forEach' of undefined"
I got the error message as follow after upgrading the `karma-rollup-preprocessor` to the latest version:

[code]

The output of printing `bundle` at `lib/index.js:22:23` is(I removed some similar lines and replaced some full paths with '...'):

[code]

[2019-01-14 07:10] jlmakes commented on #44
Hi @LvChengbin,

Can you be specific: what version of `karma` `karma-rollup-preprcessor` and `rollup` are you using?

[2019-01-16 03:21] #44 closed

[2019-01-16 03:51] jlmakes commented on #44
Glad to hear it! The `next` tag will be released as `7.0.0` very soon! (I’ll ping you when it releases)

[2019-02-06 23:57] #28 closed

[2019-02-06 23:57] #41 closed

[2019-02-06 23:57] #42 closed

[2019-02-11 22:14] skaymen opened #47 "JavaScript out of heap memory without index"
I'm working on a project that already has an index.spec.js file. When I remove it, and tell Karma to look for all the files with spec.js instead, I get the following output:

skaymen@ubuntu:~/Desktop/waterdataui$ make test
Running assets tests...
cd assets && npm run test

The 'this' keyword is equivalent to 'undefined' at the top level of an ES module, and has been rewritten
11 02 2019 13:46:34.0

[2019-02-12 00:06] jlmakes commented on #47
I only maintain the `rollup` preprocessor, so I can't speak about Karma as a whole missing optimizations. Perhaps it's worth opening this issue with https://github.com/karma-runner/karma ?

As far as the preprocessor goes...

Right now, it looks like your project is running _everything_ through the preprocessor... which strikes me as odd. For example, your deployment build process should be respon

[2019-02-12 15:52] skaymen commented on #47
Hey, thank you for the reply. It looks like our issue was simply misunderstanding the way `rollup` is working here.

We are going to keep the index.spec.js file for the time being.

[2019-03-04 21:40] LarsDenBakker opened #48 "dynamic imports give a 404"
When writing a simple test with the recommended config, I get a 404 on dynamic imports. Is this a known issue with rollup and karma? Is there some sample project to look at?

[2019-03-05 03:56] jlmakes commented on #48
I'm not sure this is within the purview of the preprocessor.
One idea is that the files are not declared in the [Karma config](http://karma-runner.github.io/0.10/config/files.html) as `included: true`.

Do you mind putting together a small repo demonstrating the problem?

[2019-03-09 11:07] LarsDenBakker commented on #48
@jlmakes thanks for your swift response.

I've set up a reproduction here: https://github.com/LarsDenBakker/karma-rollup-preprocessor-issues

Run:

[code]

You will see the dynamic import fail.

Adding them to the test config file will not work, as these files are generated by rollup itself when code splitting dynamic imports. Maybe this is out of scope for a preprocessor, but dynamic imports it b

[2019-03-09 11:12] LarsDenBakker opened #49 "dependencies are duplicated for each test file"
Each test file is treated as a separate bundle. Common dependencies are duplicated between the test files.

This is wasteful, and creates extra overhead for large project. But more importantly it creates issues when working with web components, as they may only be registered once per document. Bundling the same web component twice will throw an error.

I creates a reproduction for this: https://gi

[2019-03-21 21:10] niksy opened #50 "Dependants of test file not tracked in watch mode"
It seems like dependants (imports) in test file are not tracked in watch mode.

For example, if I have following config:

[code]

Only files in "test" directory will be tracked for changes, but not their dependants (e.g. `import m from '../index'` declared in test file).

I thought this would be solved with https://github.com/jlmakes/karma-rollup-preprocessor/pull/43.

Do I need to put files that

[2019-03-21 21:15] niksy commented on #50
OK, I’ve found the issue, I was using older version of Karma.

[2019-03-21 21:15] #50 closed

[2019-04-12 02:07] zzzgit opened #51 "can i use rollup.config.js?"
I have a `rollup.config.js` file in the project root dir, can I just use this one to config the behavior of `karma-rollup-preprocessor`?

[2019-04-19 15:24] eKoopmans commented on #44
I was receiving a similar error, using the latest `karma-rollup-preprocessor` but with a pre-1.0 version of `rollup`:

[code]

Updating to the latest `rollup` fixed the issue!

[2019-04-20 06:36] eKoopmans opened #52 "Files not being watched"
Hi, thanks for the preprocessor! Things are working well, except for file-watching. None of my preprocessed files are being watched; making changes does not cause the tests to be re-run.

<details>
<summary>My Karma config</summary>

[code]

</details>

I noticed all of the examples show Rollup being used on the tests, I'm using it differently. My project uses Rollup to bundle the final dist, so f

[2019-05-26 22:29] brettz9 commented on #29
Even with `rollup` as a devDep on my project, I'm getting this error. Any new info about this?

[2019-06-07 13:48] AgDude commented on #49
This issue also makes debugging tests in a browser very difficult. Since the source is duplicated, sourcemaps are unreliable, making it is difficult to put breakpoints in the right place.

[2019-06-07 14:41] AgDude commented on #49
I am able to mostly avoid this problem by creating a single entry point for tests.

Create an entry point like: ` find src -name '*.spec.js' | awk '{print "export *  from '\''./" $0 "'\'';"}' > karma-entry.spec.js`

Then instead of including `/src/**/*.js` include only `karma-entry.spec.js`

It would be nice if the preprocessor could handle this automatically, but incorporating this in our npm scr

[2019-06-07 20:45] jlmakes commented on #49
I sympathize, but it sounds like baking this into the preprocessor would be a dramatic increase in complexity. What's more, adding a simple condition to your custom element definition, e.g:

[code]
Or @AgDude's solution:

Both are simple and practical. That said, I understand the underlying issue is module duplication (since each entry point has all dependencies encapsulated) and I'm open to sugge

[2019-06-07 21:28] jlmakes commented on #48
Thanks for the reproduction, can confirm `npm run test:dynamic-import` errors:

[code]
I assumed Karma copied test files to a temp directory before serving them, and the dynamically imported files would be missing — but upon investigating, there only seems to be encoded/binary files in there.

I'm not sure how to proceed, but I'm suspicious this is more on the Rollup side of things.

[2019-06-07 21:34] jlmakes commented on #49
I sympathize, but it sounds like baking this into the preprocessor would be a dramatic increase in complexity. What's more, adding a simple condition to your custom element definition, e.g:

[code]
or @AgDude's solution are both simple and practical.

That said, I understand the underlying issue is module duplication (since each entry point has all dependencies encapsulated) and I'm open to sugges

[2019-06-14 19:56] isidrok commented on #48
Hi, its pretty possible that happens because calling `bundle.generate` creates several chunks but you only return the first one as processed, which is the test file itself since they are ordered, so I see two options here:

- If there is a way in Karma to output several files from inside a preprocessor just output all chunks.
- If there isnt use the `inlineDynamicImports` rollup option.

Cant conf

[2019-07-16 05:01] silenceisgolden opened #53 "Issues using babel-typescript and @types packages"
When trying to set up a project using `rollup-plugin-babel`, I seem to be getting a few errors.

In my test I have `import { chai } from 'chai';`. I have installed `@types/chai`. When I run the test I get the error:

[code]

Please see https://github.com/silenceisgolden/karma-typescript-babel for a reproduction of the issue. Thanks for your time and help!

For convenience, here are a few files

[c

[2019-07-16 14:29] silenceisgolden commented on #53
I am not 100% sure this is third party. I haven't had a similar issue or seen a similar issue in my research if, let's say, you would import chai in an application bundle. I can try to work on a reproduction from that standpoint tonight though.

[2019-07-16 21:18] jlmakes commented on #53
Generally speaking, this preprocessor is mostly a thin wrapper around the Rollup API, with most of its complexity coming from the custom file watcher. I am not 100% either, just suspicious since your error appears unrelated to API churn or the watcher.

My first guess is that this has something to do with `config.files[0].module === true`, which I believe means Karma inserts `<script type="module"

[2019-07-16 21:21] jlmakes commented on #53
Generally speaking, this preprocessor is mostly a thin wrapper around the Rollup API, with most of its complexity coming from the custom file watcher. I am not 100% either, just suspicious since your error appears unrelated to API churn or the watcher.

My first guess is that this has something to do with `config.files[0].module === true` ([L15](https://github.com/silenceisgolden/karma-typescript-

[2019-07-18 03:17] silenceisgolden commented on #53
Ok, the error was caused by multiple parts:

1. Use the `namedExports` option to fix chai's exports.
1. Bug in this library:

On line 46 of `lib/index.js`, add:

[code]

This is because the file path is still .ts after the bundle generation. It needs the extension to be renamed to js. This combines the new file name generated by rollup with the original directory given to karma.

I will try to put

[2019-07-21 00:01] #53 closed

[2019-08-02 14:51] druska opened #55 "Watching fails to process files"
This may be a config issue but I can't get auto watch working with my setup. Tests run fine the first time then rollup throws an exception when files change.

The command I running is: `npx karma start --auto-watch`

The error I get is:

[code]

<details><summary>karma config</summary>
<p>

[code]

</p>
</details>

package.json:

<details><summary>package.json dependencies</summary>
<p>

[code]

<

[2019-08-03 06:50] jlmakes commented on #55
Does this happen with both `karma-rollup-preprocessor@7.0.0` and `7.0.2` ??

[2019-08-06 13:41] druska commented on #55
This occurs on 7.0.2 (I updated my post with versions).

`karma-rollup-preprocessor@7.0.0` doesn't run once - I get the following error:
[code]

[2019-08-10 04:29] jlmakes commented on #55
Hmmm, good to see the TypeScript support introduced in `7.0.2` was indeed an enhancement. I'm still looking into that error message, but it seems to have come a few times for other developers using Rollup.

[2019-08-12 14:04] druska commented on #55
It looks like this might be an issue with karma. `karma-rollup-preprocessor` emits the correct file path to `karma` via `changeFile`, but karma is looking for `path.path` instead of `path.originalPath`. I'll continue to investigate

[2019-08-13 06:39] jlmakes commented on #55
I'm not really sure what the difference between `path` and `originalPath` is. I vaguely remember finding they contained the same string, but I'm mostly flying by the seat of my pants.

I'll take a closer look.

[2019-08-13 17:18] druska commented on #55
For my setup, path was a `.js` file (which didn't exist) and originalPath was a correct `.ts` file

[2019-11-11 14:05] provegard opened #58 "Missing options in examples"
I followed the structure in the example in the README:

[code]

However, none of the plugins I specified were invoked. When I added `options`, it started working:

[code]

Other preprocessors I use don't have `options`, so it was not immediately obvious to me what was missing.

[2019-11-28 00:08] Lalem001 opened #59 "Warnings when used with Rollup >= 1.27.0"
1.27.0 added `support for output-specific plugins` [Rollup#3218](https://github.com/rollup/rollup/pull/3218). This support also added a warning that appears as follows:

I bring this up here because a config that is ok to use in rollup directly, end up spamming the terminal with these errors when used with `karma-rollup-preprocessor`.

I would make an example config, but its visible in the tests w

[2019-11-28 23:23] jlmakes commented on #58
As I understand it, the `options` property is a common convention for [preprocessors](https://karma-runner.github.io/4.0/config/preprocessors.html) to distinguish between first-party and third-party configuration. I think a good example is the [karma-typescript-preprocessor](https://github.com/sergeyt/karma-typescript-preprocessor/):

[code]
The `options` property takes an `object` containing opti

[2019-11-28 23:29] jlmakes commented on #58
We can see in the source how `karma-rollup-preprocessor` is designed:

https://github.com/jlmakes/karma-rollup-preprocessor/blob/9332a90e144d48dd20871bdc7ef90a2bc39bb9de/lib/index.js#L19-L22

There is no expectation of an `options` property for normal preprocessor configurations… everything is simply passed along to Rollup (with exception to `input` and `cache` being handled for you).

However whe

[2019-11-28 23:32] jlmakes commented on #58
We can see in the source how `karma-rollup-preprocessor` is designed:

https://github.com/jlmakes/karma-rollup-preprocessor/blob/9332a90e144d48dd20871bdc7ef90a2bc39bb9de/lib/index.js#L19-L22

There is no expectation of an `options` property for normal preprocessor configurations… everything is simply passed along to Rollup (with exception to `input` and `cache` being handled for you).

However whe

[2019-11-28 23:38] #58 closed

[2019-11-28 23:39] jlmakes commented on #58
We can see in the source how `karma-rollup-preprocessor` is designed:

https://github.com/jlmakes/karma-rollup-preprocessor/blob/9332a90e144d48dd20871bdc7ef90a2bc39bb9de/lib/index.js#L19-L22

There is no expectation of an `options` property for normal preprocessor configurations… everything is simply passed along to Rollup (with exception to `input` and `cache` being handled for you).

However whe

[2019-12-24 02:27] WangJiangJiaoZi opened #61 "There are hints when using plug-ins that introduce files"
'rollup-plugin-node-resolve' and 'rollup-plugin-json' are used

[code]

[2019-12-24 02:53] jlmakes commented on #61
Thanks @WangJiangJiaoZi #59

[2019-12-24 02:53] #61 closed

[2020-01-17 00:13] #55 closed

[2020-01-17 01:02] #59 closed

[2020-01-17 08:32] Lalem001 opened #62 "@rollup/plugin-multi-entry broken by #54"
The changes introduced by #54 breaks builds that involve `@rollup/plugin-multi-entry`.

Specifically:

[code]

I believe applying [hasNullByte](https://github.com/jlmakes/karma-rollup-preprocessor/blob/master/lib/Watcher.js#L35-L37) to `result.facadeModuleId` would resolve the issue

[code]

Thoughts?

[2020-01-18 00:41] jlmakes commented on #62
Can you share a little more about how it breaks?

I'm curious what `@rollup/plugin-multi-entry` does to the `facadeModuleId`, I wasn't able to figure that out by looking at its source.

[2020-01-18 18:19] Lalem001 commented on #62
`@rollup/plugin-multi-entry` registers all the files that it processes under a virtual file with the name of `\0rollup:plugin-multi-entry:entry-point`. `facadeModuleId` was the only ID property I could find that maintains the null byte. The rest of the properties like `fileName` replace the null byte with an underscore.

However, I am just discovering that karma itself prevents `@rollup/plugin-mul

[2020-02-06 11:11] tommck commented on #49
Wow.. I wish I had realized this before I converted by old webpack build to rollup.  This also makes testing _incredibly_ slow!  It's honestly unusable in its current state :(

[2020-03-03 00:42] jlmakes commented on #62
Just following up on this @Lalem001. I'd like to fix this, do you still think your suggestion `!hasNullByte()` is the best way forward?

[2020-03-04 16:44] Lalem001 commented on #62
The suggestion is a possible solution. Karma would never use that particular plugin correctly anyway, since it only sends Rollup (and the preprocessor) 1 file at a time. The solution might resolve problems with other plugins that have not yet been reported.

I will say however that this issue so far has been preventing me from being on latest `karma-rollup-preprocessor`, and the solution proposed

[2020-03-04 22:27] jlmakes commented on #62
That makes sense. Well, it seems like a fair precaution to check for null bytes. I updated the `development` branch, does this look correct to you?

[2020-03-05 15:13] Lalem001 commented on #62
Yes it looks correct, and it works for me locally.

[2020-03-05 15:17] Lalem001 commented on #49
@tommck The problem is in Karma, not Rollup (or karma-rollup-preprocessor). If you see [Karma Webpack's Alternative Usage section](https://github.com/webpack-contrib/karma-webpack#alternative-usage), it suggests a single entry point referencing all other files for more performance.

[2020-03-05 19:40] tommck commented on #49
@Lalem001 and ... rollup doesn't support importing a bunch of test files all into one in a simple way like webpack does.  So... rollup doesn't have any built-in way to mitigate this.  I'd say that's still a rollup + karma problem, since it's solved w/ webpack

[2020-03-16 20:29] Lalem001 commented on #49
Officially, it does. See [@rollup/plugin-multi-entry](https://github.com/rollup/plugins/tree/master/packages/multi-entry)

`Webpack + Karma` has the same problems as `rollup + karma`. The link I posted in my previous comment talks about this. Karma forces Webpack/Rollup to generate a bundle for EACH test. The way around it, the "alternative usage", is to have a single entry file that imports all o

[2020-03-16 21:32] tommck commented on #49
And webpack makes it easier to have that single point of entry.  Neither
rollup nor this plugin has any solution for the problem. It's disappointing.

On Mon, Mar 16, 2020, 4:29 PM Luis Aleman <notifications@github.com> wrote:

[2020-03-20 14:49] spectras opened #65 "Watch not working on windows"
Using version 7.0.3.
Past the initial preprocessing, no file change ever trigger test again.

I traced the issue to the matching in the watcher. It passes down changed file path to Karma's fileList. In turn, the fileList does this:
[code]
The issue is:
* `path` is a windows path, in my case, `D:\home\projects\skeleton\skeleton-lib\tests\index.js`.
* `file.originalPath` is not: `'D:/home/projects/s

[2020-03-20 14:53] spectras commented on #65
**Note:** a quick-and-dirty change in `karma-rollup-preprocessor/lib/Watcher.js` like this:
[code]
…makes it work on my system.

[2020-03-23 01:58] jlmakes commented on #65
Something like this?

[code]

[2020-03-23 02:04] #62 closed

[2020-03-23 02:50] Lalem001 commented on #65
@jlmakes [path.normalize](https://nodejs.org/api/path.html#path_path_normalize_path) might work here. Not at my computer, so cannot double check.

[2020-03-23 18:19] Lalem001 commented on #65
Took a look, and my above comment with `path.normalize` will not work.

Take a look instead at [slash](https://github.com/sindresorhus/slash).

[2020-03-23 19:31] jlmakes commented on #65
It's basically a wrapper around the same string replace:

[code]

I understand testing for ASCII, but I had to search for "extended length paths":
https://stackoverflow.com/questions/21194530/what-does-mean-when-prepended-to-a-file-path

[2020-03-23 19:54] Lalem001 commented on #65
I know, was just thinking that it could potentially handle the edge cases for you if they ever came up.

[2020-03-23 20:02] jlmakes commented on #65
I'm generally cautious of adding dependencies, but I'm not opposed to it. I just don't fully understand if those cases are overly defensive for Karma and Rollup. As in, will non-ASCII or extended length paths occur in a JavaScript code base, or the build process therein?

Similarly, this would still need to be addressed in the implementation. So, something like this?

[code]

[2020-03-23 20:03] jlmakes commented on #65
I'm generally cautious of adding dependencies, but I'm not opposed to it. I just don't fully understand if those cases are overly defensive for Karma and Rollup. As in, will non-ASCII or extended length paths occur in a JavaScript code base, or the build process therein?

This would still need to be addressed in the implementation. So, something like this?

[code]

[2020-03-23 20:07] Lalem001 commented on #65
Just want to point out that `\u0000` does show up when certain rollup plugins are involved.

[2020-03-24 06:44] jlmakes commented on #65
I pushed an optimistic "fix" to `development`. Hoping @spectras can help test.

[2020-03-24 15:26] spectras commented on #65
Good news and bad news!

**Bad news:** 5668d68 does not work here.

**Good news:** the fix in it works.
- After seeing 5668d68 did not work, I tried 7.0.4, and I have the same problem in it.
- So I downgraded to 7.0.3 and backported the commit. This worked.

So, the fix works, but 7.0.4 introduced another issue. I'll open a separate topic.

[2020-03-24 20:46] #65 closed

[2020-03-25 12:22] tommck commented on #49
@Lalem001 multiple entry points is exactly the OPPOSITE if what we need here.  We need 1 entry point that pulls in all spec files so that it's ONE bundle

[2020-03-25 12:57] Lalem001 commented on #49
@tommck I know, and that is what I suggested above. A single entry point that imports all others.

[2020-03-26 19:50] bennypowers opened #67 "[support] Cannot use import statement outside a module"
Hello and thank you for maintaining this project.

I've set up the following config file, based on the open-wc config for karma-esm and my project's rollup config.

**NOTE** that I'm building to esm here.

<details>
  <summary>karma.conf.js</summary>

[code]
</details>
<details>
<summary>comparison.test.js</summary>

[code]
</details>

Result:
[code]

I'd appreciate any guidance you're able to giv

[2020-03-26 19:56] bennypowers commented on #67
Ugh so much fail. I set config to preprocess `.spec.js` instead of `.test.js`

I'll see myself out

[2020-03-26 19:56] #67 closed

[2020-04-02 16:54] tommck commented on #49
...which we have to create manually

[2020-04-02 17:09] Lalem001 commented on #49
@tommck Not necessarily. Like webpack ([webpack-import-glob-loader](https://www.npmjs.com/package/webpack-import-glob-loader)), Rollup can be configured to import with glob ([rollup-plugin-glob-import](https://www.npmjs.com/package/rollup-plugin-glob-import)).

In which case you could have your entry file look like the following:

[code]

Please pay attention to the fact that Webpack too must be c

[2020-04-02 21:18] jlmakes commented on #49
It sounds like there's an opportunity to update this library's documentation to help people with this situation. I'm open to suggestions, but I'll keep it in mind as I prepare a `8.0.0` release for `Rollup 2` (that drops support for `Node 8`).

[2020-04-02 21:20] jlmakes commented on #49
I'd like to drop support for `Rollup@1` and `Node@8` and release `8.0.0`, which will be a great opportunity to update this library's documentation to help with this situation. Any suggestions?

[2020-04-03 15:18] Lalem001 commented on #49
Honestly, just a section similar to the one in [Karma Webpack's](https://github.com/webpack-contrib/karma-webpack#alternative-usage) readme would suffice. Single entry does come with caveats in my experience though. Karma watcher doesn't really work since it is only working with a single file. And the glob import scripts linked above do not see high amounts of usage.

[2020-04-14 13:23] Danielku15 commented on #49
@Lalem001 Thanks for the hint with the globbing. Luckily I was already in the situation of having an own "resolver" plugin in my project so I could extend it for my needs. Maybe it helps somebody, here the rough steps that I did:

**Step 1:** Add a new index test file importing all tests/specs with globbing.

<details>
  <summary>test/index.js</summary>

[code]
</details>

**Step 2:** Add a custom

[2020-04-22 21:10] jasonwaters commented on #49
I did this, but now my coverage report doesn't have the same breakouts as it used to.  any idea how to get the separate reports again?

[2020-04-25 21:19] jlmakes commented on #49
@jasonwaters The single entry point makes sense for speeding up development. However, I would use a different Karma config to generate coverage, and check environment variables to do so only in CI.

[2020-04-25 21:21] jlmakes commented on #49
@jasonwaters The single entry point makes sense for speeding up development, but I would use a different Karma config to generate coverage (using an environment variable to do so only in CI).

[2020-05-18 08:15] Munter commented on #49
We've tried using this plugin in Mochajs as well, and have decided against it becasue of the massive slowdown we experience. I have attempted to write our own karma plugin that takes all matching file globs and bundles them into a single bundle. This is done by mapping the bundle globs to a bundle path and replacing the globs in karmas file list with the bundle path and add a preprocessor for that

[2020-05-28 22:05] Aaronius commented on #49
FWIW, we updated a project to use `rollup-plugin-glob-import` like @Lalem001 mentioned and it sped up our test runs from about 60 seconds to 13 seconds (from hitting enter to process complete). Our coverage report is still broken out by source file as well. Feel free to take a look at the changes that were made here: https://github.com/adobe/alloy/pull/510/files

[2020-05-29 03:56] jlmakes commented on #49
@Aaronius Interesting, thanks for sharing! What are your thoughts on using `rollup-plugin-glob-import` as a dependency in `karma-rollup-preprocessor` and implementing something similar by default?

[2020-05-29 04:14] jlmakes commented on #49
@Lalem001 I've already implemented a custom file watcher to trigger re-bundling when module dependencies change, and it seems feasible to generate a file at runtime that imports all of the karma preprocessor entry points.

Do you have any thoughts on adding `rollup-plugin-glob-import` as a preprocessor dependency and implementing something under the hood similar to what @Aaronius shared?

[2021-03-08 17:23] kurkle opened #70 "#69 breaks configs with output.file"

[2021-03-08 23:57] jlmakes commented on #70
With what version of Rollup? Also, could you share what the `output` object actually looks like?

(Does this mean anything to you @ntkme?)

[2021-03-09 02:57] ntkme commented on #70
We can set `output.dir` only when user did not explicit set `output.file` or `output.dir`. I'm preparing a PR.

[2021-03-14 15:49] #70 closed

[2021-03-27 19:32] kaosdev opened #72 "Watcher not working using TypeScript?"
Seems like that karma auto watch break when using `karma-rollup-preprocessor`.
The tests are run when i change something, but with no effect.
Indeed if I make a test fail, I see karma running but it will state that tests passes.

It may be a configuration problem, so here I made a small reproduction of the issue https://github.com/kaosdev/karma-rollup-preprocessor-watch-issue

I saw there are othe

[2021-03-28 05:35] jlmakes commented on #72
Thanks for the reproduction. I removed TypeScript from the project and everything works normally. That narrows things.

[2021-03-28 10:31] kaosdev commented on #72
Can confirm that, using babel watch works correctly. After digging a while I found that `@rollup/plugin-typescript` uses an internal watcher, maybe this is causing some errors?

[2021-03-30 00:14] jlmakes commented on #72
`karma-rollup-preprocessor` has its own watcher that manually re-runs Karma, but presently I don't deeply understand how Karma goes about generating/serving temporary files. Although, if it works without the TS plugin, it makes me think the problem lies in how `@rollup/plugin-typescript` names its output files, perhaps related to the file watcher or a caching strategy. 🤔

[2021-03-30 00:17] jlmakes commented on #72
`karma-rollup-preprocessor` has its own watcher that manually re-runs Karma, but presently I don't deeply understand how Karma goes about generating/serving temporary files. Although, if it works without the TS plugin, it makes me think the problem lies in how `@rollup/plugin-typescript` names its output files, perhaps related to the file watcher or a caching strategy. 🤔

There is a bit of file na

[2021-04-20 08:26] MMMalik commented on #72
I can confirm that there is an issue with watching files and official TS plugin `@rollup/plugin-typescript`. Switching to `@rollup/plugin-babel` helped in my case:

[code]

With babel plugin it's just transpilation (no type checking) but I don't think it's a big deal in case of generating test bundle.

[2021-10-06 15:35] xenobytezero commented on #72
So I have been spending a few days looking at this and it looks like it's partially related to `@rollup/typescript` and partially down to the structure of this preprocessor.

After diving through the `@rollup/typescript` code, it looks like the plugins "emitted files" cache is maintained at the plugin instance level, not per Rollup run. Since this preprocessor calls `rollup.rollup()` multiple time

[2021-11-07 23:26] jlmakes commented on #72
@xenobytezero I'd be curious to see your changes. If you have the time, please submit a PR.

[2021-11-10 14:26] YonatanKra opened #73 "You need to include some adapter that implements __karma__.start method!"
I'm getting this error when running with this preprocessor.
My config worked fine with `esbuild`.
When I switch the preprocessor it fails.
Here's my config:
[code]

[2021-11-11 20:55] xenobytezero commented on #72
The changes are tied up in code it's a little tricky to open source right now, will see what I can do.

[2021-11-14 14:08] YonatanKra commented on #72
@jlmakes I made it work.
I can't find the logic in the tests in order to write tests for it.
How do the tests work? All I see is a bunch of modules that import each other.

[2021-11-16 08:41] YonatanKra commented on #72
@jlmakes - do you think you could integrate this into the package?

[2021-11-22 21:12] #72 closed

[2021-11-22 21:13] jlmakes commented on #72
@YonatanKra I'll cut a new release shortly!

[2022-02-03 15:03] mattalexx commented on #72
Just spend an hour solving this. My mistake for not looking further after noticing that my version matched your package.json at master.

Are you going to release soon?

[2022-02-07 07:03] jlmakes commented on #72
Thanks for your patience, the fix landed in `7.0.8` @mattalexx @YonatanKra

[2022-02-07 07:17] mattalexx commented on #72
Thanks @jlmakes

cc @Gusted

[2022-02-15 10:51] jiripudil opened #75 "Watch mode overwrites the test file"
Hi, I've been using this awesome package for some time to my satisfaction, but now I've stumbled upon an issue with the latest version. It manifests in this repo: https://github.com/naja-js/naja. If I run `yarn run test` locally, it runs karma in watch mode (with `autoWatch: true, singleRun: false`), the tests get stuck in an endless loop where it keeps detecting a change in the `tests/index.js`.

[2022-02-15 15:58] mgoetzke commented on #75
Hey! I wanted to leave a note that I was seeing the same behavior of an endless loop of re-writing and watching the tests file when `autoWatch: true, singleRun: false`. I also implemented a quick fix of downgrading to `7.0.7` and am investigating locally. I have a suspicion we need to close our `watcher` but haven't quite figured it out yet.

[2022-03-16 11:29] XhmikosR commented on #75
@jlmakes any chance you could have a look please? :)

[2022-03-17 20:48] rwaldron commented on #75
We hit this issue as well and downgrading resolved the problem. (Internal project, no link to share)

[2022-03-30 05:46] jlmakes commented on #75
I see, that's no good! Roping @YonatanKra into this conversation. Let's see if we can get this fixed, thanks for the report.

[2022-11-27 13:18] gbaron commented on #75
I've looked into this one and here is what I found.

- The changes made for #72 introduced this issue.

-  `rollup.watch` is used instead of `rollup.rollup`. `rollup.watch` also writes directly to the file system, resulting in this issue.

- I think that the root cause of #72 is in `@rollup/plugin-typescript` when using `rollup.rollup` (i.e. watchMode is false)

- I created an issue in `@rollup/pl

[2022-11-28 19:16] gbaron commented on #75
The pull request for `@rollup/plugin-typescript` was approved and released as part of version 10.0.1.

I created a pull request #76 to revert the changes that introduced this issue and added a basic test case.

@jlmakes